{% extends "base.html" %}

{% block body %}

    <h1>This is the home page</h1>

    <h2>
        <a href="{% url 'blog-list' %}">View Blog Posts</a>
    </h2>

    <h2>Social Media Pages</h2>
    <ul>
        <li>
            <a target="_blank" href="https://www.facebook.com">Facebook (evil)</a>
        </li>
        <li>
            <a target="_blank" href="https://www.instagram.com">Instagram</a>
        </li>
        <li>
            <a target="_blank" href="https://www.linkedin.com">LinkedIn</a>
        </li>
    </ul>

{% endblock %}